@media only screen and(min-width: 576px) {
    /* smartphones, Android phones, landscape iPhone */
}
    @media only screen and(min-width: 768px) {
        /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */

    }

    @media only screen and(min-width: 992px) {
        /* tablet, landscape iPad, lo-res laptops ands desktops */

    }

    @media only screen and(min-width: 1200px) {
        /* big landscape tablets, laptops, and desktops */

    }
body {
    background-color: #E6E6E6;
}

    #logo {
        height: 105px;
        width: 105px;
    }

    nav.navbar {
        display: flex;
        position: relative;
        top: 0;

    }

    .header{
        font-family: 'Anton', sans-serif;
        position: relative;
        /*background-color: mediumvioletred;*/
        display: flex;
        justify-content: center;


    }



