@media only screen and(min-width: 576px) {
    /* smartphones, Android phones, landscape iPhone */
}
    @media only screen and(min-width: 768px) {
        /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */

    }

    @media only screen and(min-width: 992px) {
        /* tablet, landscape iPad, lo-res laptops ands desktops */

    }

    @media only screen and(min-width: 1200px) {
        /* big landscape tablets, laptops, and desktops */

    }
body {
    background-color: #E6E6E6;
}

    #logo {
        height: 105px;
        width: 105px;
    }
    div.container-fluid {
    height: 80px;}

    nav.navbar {
        display: flex;
        position: relative;
    }

    .header{
        font-family: 'Anton', sans-serif;
        position: relative;
        /*background-color: mediumvioletred;*/
        display: flex;
        justify-content: center;
    }
    h2 {
        display: flex;
        justify-content: center;
    }
    section {
        display: flex;
        flex-direction: row;
        padding-top: 40px;
        padding-left: 35%;
        padding-right: 35%;
        justify-content: space-around;
    }
    .button {
        font-family: 'Anton', sans-serif;
        text-align: center;
        font-size: large;
        padding-top: 30px;
        height: 100px;
        width: 100px;
        border-width: 6px;
        border-style: solid;
        border-color: white;
        border-radius:
    }
    section div:nth-child(1) {
        background-color: #E6563B;
    }
    section div:nth-child(2) {
        background-color: #EB9D3A;
    }
    section div:nth-child(3) {
        background-color: #7CB06C;
    }
    section div:nth-child(4) {
        background-color: #00ABA9;
    }



